<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
        </head>
  <body>
    <body style="background-color: #DBC8AC"></body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h1 style="text-align:center;font: size 3px;">Attendance Portal</h1>
                <!--<h3 class="mt-5">Attendance Portal</h3>-->
                <img src="{{ url_for('video_feed') }}" width="50%" style="vertical-align:middle">
            </div>
        </div>
    </div>
    </body>


</html>